#header{
	
	width: 1000px;
	height: 100px;
	background: #008B8B;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar h2, .sidebar a {
    padding-bottom: 20px;
}

